// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#package-card {
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
}

.card-button {
	margin: 0px;
	padding: 0px;
	display:inline-block;
}

.card-details-button {
	display: inline-block;
}

.card-cart-button {
	display: inline-block;
}

.card-price {
	display:block;
	text-align:center;
	margin: 10px 0px 10px 0px;
	font-family: 'Ubuntu', sans-serif;

	.price {
		font-weight: bold;
		font-size: 20px;
	}

	.price-discount {
		font-weight: bold;
		font-size: 25px;
		font-color: green;
	}
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.card-price {
	height: 30px;
}