
<div id="header">

	<div id="header_logo">
		<%= image_tag("CompanyLogo_tiny.png", :alt => 'Virtual Reality Vacations') %>
	</div>

	<div id="company_title">
		<h1>Virtual Reality Vacations</h1>
	</div>

	<div id="customer_portal">
		<button type="button" class="btn btn-info">Customer Login</button>
		<button type="button" class="btn btn-warning">Cart</button>
	</div>
</div>